.git
.gitignore
**/node_modules
**/dist
**/.npm-cache
backend/vendor
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/database.sqlite
backend/.env
.DS_Store
